<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>City List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>City List</h1>
<a href="addCity">Add New City</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>City Name</th>
            <th>Population</th>
        </tr>
        <tr th:each ="city : ${cityList}">
            <td th:utext="${city.id}">...</td>
            <td th:utext="${city.name}">...</td>
            <td th:utext="${city.population}">...</td>
        </tr>
    </table>
</div>
</body>
</html>